
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.form-control {
	margin-top: 5px;
}

#ticketsList tbody tr {
	&:first-child {
		background-color: yellow;
		color           : black;
	}
	&:last-child {
		background-color: green;
		color           : white;
	}
}